* {
  margin: 0px;
  padding: 0px;
}

.titulo {
  margin: 12px;
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin: 12px 6px;
  margin: 2px 4px 8px 16px;
  margin-block: 15px;
  margin-inline: 20px;
  margin-block-start: 16px;
  margin-block-end: 18px;
  margin-inline-start: 10px;
  margin-inline-end: 12px;

  padding: 8px;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding: 12px 6px;
  padding: 2px 4px 8px 16px;
  padding-block: 15px;
  padding-inline: 20px;

  border: 1px solid #000000;
  border-top: 5px solid rgba(50, 125, 250, 1);
  border-bottom-color: #ff0000;
  border-color: green #ff0000 rgba(50, 125, 250, 1) rgba(50, 125, 250, 1);
  border-width: 2px 4px 8px 16px;
  border-radius: 24px;
  border-radius: 50%;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-style: dashed;
  border-bottom-style: double;
}

/* .titulo{
    background-color: #ee82ee;
}

#tituloPrincipal{
    font-style: italic;
} */

.bg {
  width: 100vw;
  min-width: 250px;
  max-width: 500px;
  height: 50vh;

  background-color: #ff0000;
  background-image: url("../resources/fondos/ovni.png"),
    url("../resources/fondos/fondo1.jpg");
  background-repeat: no-repeat;
  /* background-size: 120px 50vh; */
  background-size: 80px 80px, cover;
  background-position: 60px 120px, 0px;
  background-position-x: 12px, 0px;
  background-position-y: 12px, 0px;
}

h3 {
    width: 100vw;
    color: #0000ff;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #ff0000;
    text-decoration-style: double;
    text-decoration-thickness: 3px;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform: capitalize;
    text-indent: 20px;
    letter-spacing: 6px;
    line-height: 30px;
    word-spacing: 10px;
    text-shadow: 0px 1px 8px #b98108, 
    4px 1px rgba(255,0,0,0.47);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    font-family: "Pacifico", cursive;

}
