.clsA{
    border: 1px solid #000;
    color: #0000ff;
    padding: 16px;
    width: 250px;
    transition: background 500ms 1s;
}

@media screen and (max-width: 650px){
    .clsB {
        background-color: #ff0000;
        color: #fff;
        text-transform: uppercase;
    }

    .clsA{
        width: 90%;
    }
}

